body{
	background: url('../images/bg.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: bold;
}
.about{
	text-align: center;
	font-size: 1em;
	padding-top: 120px;
	color: #000000;
}
img{
	width: 20%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.portofolio a{
	color: #d9534f;
	font-size: 1.5em;
}
.portofolio a:hover{
	color: #ffffff;
}

@media only screen and (max-width: 768px){
    img{
	width: 50%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	}
}